<div class="container-fluid p-0 m-0 h-100">
    <div class="row h-100 w-100 m-0">
        <div class="main col d-sm-flex d-none justify-content-center ">
            <img src="assets/img/logo-generic.svg" style="width: 100%; max-width: 400px;" />
        </div>
        <div class="side col-lg-4 col-sm-6 shadow d-flex flex-column justify-content-center h-100">
            <img class="d-sm-none mx-auto py-4" src="assets/img/logo-generic.svg" style="width: 100%; max-width: 400px;" />
            <ecom-login-modal></ecom-login-modal> 
        </div>
    </div>
</div>