.mat-column-pedidoId {
    min-width: 100px;
}

.mat-column-dataInclusao {
    min-width: 100px;
}

.mat-column-dataEntrega {
    min-width: 100px;
}

.cliackable:hover {
    background: whitesmoke;
}



tr.detail-row {
    height: 0;
  }